# ===============================
# DEPENDENCIES
# ===============================
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# ===============================
# NEXT.JS BUILD FILES
# ===============================
.next/
out/
dist/
build/

# ===============================
# PRODUCTION / DEPLOYMENT
# ===============================
.vercel/

# ===============================
# TESTING / COVERAGE
# ===============================
coverage/

# ===============================
# ENV FILES (IMPORTANT)
# ===============================
.env
.env.*
!.env.example

# ===============================
# LOG FILES
# ===============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dev.log

# ===============================
# TYPESCRIPT
# ===============================
*.tsbuildinfo
next-env.d.ts

# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# SECURITY / KEYS
# ===============================
*.pem

# ===============================
# IDE FILES
# ===============================
.vscode/
.idea/

# ===============================
# MISC
# ===============================
*.swp
*.swo