HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
.vscode/
*.iml
.classpath
.project
.settings/
.springBeans
.sts4-cache

# Secrets / local config
.env
src/main/resources/application.properties
